<div>
  <h1>{{title}}</h1>
</div>
<!-- sự kiện ng-submit -->
<h2>thêm thông tin</h2>
<form ng-submit="themMoi()">
  <label for="" class="form-lable"> tên</label>
  <input type="text" class="form-control" ng-model="inputValue.name" />
  <label for="" class="form-lable"> địa chỉ</label>
  <input type="text" class="form-control" ng-model="inputValue.address" />
  <button type="submit" class="btn btn-success">thêm mới</button>
</form>
<!-- tạo 1 from nhập vào 2 số và 1 button
  sau khi submit thì tiến hành cộng 2 số và hiển thị kết quả
  
  -->
<form ng-submit="phepCong()">
  <label for="" class="form-lable"> số một</label>
  <input type="number" class="form-control" ng-model="numBer.soMot" />
  <label for="" class="form-lable"> số hai</label>
  <input type="number" class="form-control" ng-model="numBer.soHai" />
  <button type="submit" class="btn btn-success">Cộng</button>
  <p ng-if="sum">tổng của 2 số là : {{ sum }}</p>
  <!-- ng-if dùng để điều khiển việc tồn tại hay không tồn tại phần từ
  - nếu biểu thức đúng phần sẽ tồn tại, ngược lại sẽ không tồn tại
  -->
</form>

<!-- bài 2 tạo 1 from đăng nhập nếu mật khẩu bằng thaydinhdz thì hiển thị tên đăng nhập chào mừng + tên đăng nhập
ngược lại thì hiển thị thông báo sai thông tin đăng nhập
sử dụng ng-show để hiển thiij
-->
<h2>Login</h2>
<form ng-submit="login()">
  <label for="" class="form-lable"> tài Khoản</label>
  <input type="text" class="form-control" ng-model="user.tk" />
  <label for="" class="form-lable"> mật khẩu</label>
  <input type="text" class="form-control" ng-model="user.mk" />
  <button type="text" class="btn btn-success">Login</button>
  <p ng-show="mess">chào mừng : {{ user.tk }}</p>
  <!-- ng-if dùng để điều khiển việc tồn tại hay không tồn tại phần từ
  - nếu biểu thức đúng phần sẽ tồn tại, ngược lại sẽ không tồn tại
  -->
</form>
<!-- bài 3: tạo 1 button có sự kiện ng-click
nếu ấn đến lần thứ 5 hiển thị cảnh báo đỏ
-->
<h1>bài 3</h1>
<button ng-click="countClick()" type="submit" class="btn btn-success">
  click
</button>
<p ng-if="count >= 5" class="text-danger">bạn đã nhấn 5 lần</p>
<ul ng-show="count > 0">
  <li>bạn đã ấn {{count}} lần</li>
</ul>
